<p>'Respira' means</p>
<blockquote>
  <p>to breathe (to draw air in and out).</p>
  <small>http://en.wiktionary.org/wiki/respirar#Spanish</small>
</blockquote>
<br/>

<p>This is a solo project of Takashi Hayasaka</p>
<p>to create something, like breathing.</p>
<br/>

<p>「息をするように」自然に何かを作り出して行くソロプロジェクトです。</p>
<br/><br/><br/>

<footer class="footer">
  <p class="pull-left"><a href="home">Back</a></p>
</footer>

<% 8.times do %>
  <br/>
<% end %>