<div class="page-header">
  <h1><%= @respira %></h1>
</div>

<p>'Respira' means</p>
<blockquote>
  <p>to breathe (to draw air in and out).</p>
  <small>http://en.wiktionary.org/wiki/respirar#Spanish</small>
</blockquote>
<br/>

<p>Respira is a solo project of Takashi Hayasaka.</p>
<p>"I want to create anything naturally, like breathing!"</p>
<br/>

<p>Respiraは、「息をするように」自然に何かを産み出して行くソロプロジェクトです。</p>
<br/><br/><br/>

<footer class="footer">
  <p class="pull-left"><a href="home">Back</a></p>
</footer>
