<div class="page-header">
  <h1><%= @respira %></h1>
</div>

<p>Sorry! This page is under construction.</p>

<br/>

<footer class="footer">
  <p class="pull-left"><a href="home">Back</a></p>
</footer>
