<p>Sorry... This page is under construction.</p>
<p>Please contact me via Twitter.</p>
<p>ご用命の方は、Twitter経由でご連絡下さい。</p>

<br/>

<footer class="footer">
  <p class="pull-left"><a href="home">Back</a></p>
</footer>

<% 17.times do %>
  <br/>
<% end %>

