<div class="page-header">
  <h1>Respira</h1>
</div>

<div class="row">
	<div class="span12">
	  <p>
	  <a class="btn-large btn-primary" href=""><i class="icon-home icon-white"></i> About</a>
	  <a class="btn-large btn-info" href="http://soundcloud.com/all-the-memories-1"><i class="icon-headphones icon-white"></i> Sound</a>
	  <a class="btn-large btn-success" href="http://kikimimi.heroku.com/conversations"><i class="icon-th-large icon-white"></i> WebApp</a>
	  <a class="btn-large btn-warning" href="http://d.hatena.ne.jp/iwhurtafly/"><i class="icon-book icon-white"></i> Blog</a>
	  <a class="btn-large btn-danger" href="https://twitter.com/#!/iwhurtafly"><i class="icon-leaf icon-white"></i> Twitter</a>
	  <a class="btn-large btn-inverse" href=""><i class="icon-envelope icon-white"></i> Contact</a>
	  </p>
	</div>
</div>

