<p>
<a class="btn-large btn-primary" href="http://kikimimi.heroku.com/conversations"><i class="icon-tint icon-white"></i> KiKiMiMi</a>
</p>

<br/>

<footer class="footer">
  <p class="pull-left"><a href="home">Back</a></p>
</footer>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>